/* Coolors Exported Palette - coolors.co/7cea9c-ff101f-b2ddf7-81d6e3-4cb5ae */

/* HSL */
$color1: hsla(137%, 72%, 70%, 1);
$color2: hsla(356%, 100%, 53%, 1);
$color3: hsla(203%, 81%, 83%, 1);
$color4: hsla(188%, 64%, 70%, 1);
$color5: hsla(176%, 42%, 50%, 1);

/* RGB */
$color1: rgba(124, 234, 156, 1);
$color2: rgba(255, 16, 31, 1);
$color3: rgba(178, 221, 247, 1);
$color4: rgba(129, 214, 227, 1);
$color5: rgba(76, 181, 174, 1);