/* Coolors Exported Palette - coolors.co/c5d86d-261c15-f7f7f2-e4e6c3-f05d23 */

/* HSL */
$color1: hsla(71%, 58%, 64%, 1);
$color2: hsla(25%, 29%, 12%, 1);
$color3: hsla(60%, 24%, 96%, 1);
$color4: hsla(63%, 41%, 83%, 1);
$color5: hsla(17%, 87%, 54%, 1);

/* RGB */
$color1: rgba(197, 216, 109, 1);
$color2: rgba(38, 28, 21, 1);
$color3: rgba(247, 247, 242, 1);
$color4: rgba(228, 230, 195, 1);
$color5: rgba(240, 93, 35, 1);