/* Coolors Exported Palette - coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */

/* HSL */
$color1: hsla(52%, 50%, 91%, 1);
$color2: hsla(13%, 68%, 63%, 1);
$color3: hsla(234%, 20%, 30%, 1);
$color4: hsla(151%, 24%, 60%, 1);
$color5: hsla(37%, 79%, 75%, 1);

/* RGB */
$color1: rgba(244, 241, 222, 1);
$color2: rgba(224, 122, 95, 1);
$color3: rgba(61, 64, 91, 1);
$color4: rgba(129, 178, 154, 1);
$color5: rgba(242, 204, 143, 1);