/* Coolors Exported Palette - coolors.co/454ade-1b1f3b-b14aed-c874d9-e1bbc9 */

/* HSL */
$color1: hsla(238%, 70%, 57%, 1);
$color2: hsla(233%, 37%, 17%, 1);
$color3: hsla(278%, 82%, 61%, 1);
$color4: hsla(290%, 57%, 65%, 1);
$color5: hsla(338%, 39%, 81%, 1);

/* RGB */
$color1: rgba(69, 74, 222, 1);
$color2: rgba(27, 31, 59, 1);
$color3: rgba(177, 74, 237, 1);
$color4: rgba(200, 116, 217, 1);
$color5: rgba(225, 187, 201, 1);