/* Coolors Exported Palette - coolors.co/555358-5f6062-7b7263-c6ca53-c9dcb3 */

/* HSL */
$color1: hsla(264%, 3%, 34%, 1);
$color2: hsla(220%, 2%, 38%, 1);
$color3: hsla(38%, 11%, 44%, 1);
$color4: hsla(62%, 53%, 56%, 1);
$color5: hsla(88%, 37%, 78%, 1);

/* RGB */
$color1: rgba(85, 83, 88, 1);
$color2: rgba(95, 96, 98, 1);
$color3: rgba(123, 114, 99, 1);
$color4: rgba(198, 202, 83, 1);
$color5: rgba(201, 220, 179, 1);