/* Coolors Exported Palette - coolors.co/0892a5-e07a5f-06908f-0ca4a5-dbb68f */

/* HSL */
$color1: hsla(187%, 91%, 34%, 1);
$color2: hsla(13%, 68%, 63%, 1);
$color3: hsla(180%, 92%, 29%, 1);
$color4: hsla(180%, 86%, 35%, 1);
$color5: hsla(31%, 51%, 71%, 1);

/* RGB */
$color1: rgba(8, 146, 165, 1);
$color2: rgba(224, 122, 95, 1);
$color3: rgba(6, 144, 143, 1);
$color4: rgba(12, 164, 165, 1);
$color5: rgba(219, 182, 143, 1);