/* Coolors Exported Palette - coolors.co/533a71-6184d8-50c5b7-9cec5b-f0f465 */

/* HSL */
$color1: hsla(267%, 32%, 34%, 1);
$color2: hsla(222%, 60%, 61%, 1);
$color3: hsla(173%, 50%, 54%, 1);
$color4: hsla(93%, 79%, 64%, 1);
$color5: hsla(62%, 87%, 68%, 1);

/* RGB */
$color1: rgba(83, 58, 113, 1);
$color2: rgba(97, 132, 216, 1);
$color3: rgba(80, 197, 183, 1);
$color4: rgba(156, 236, 91, 1);
$color5: rgba(240, 244, 101, 1);