.Controller {
  margin: 0 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #464C55;;
  background-color: #F8BC14;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
}