.Controller,
.Controller:focus {
  margin: 0 5px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 2px solid #464C55;;
  background-color: #F8BC14;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
}

.CreatePerson {
  width: 80px;
  height: 80px;
}

.CreatePerson img {
  height: 50px;
  margin: auto;
  position: relative;
  top: 12.5px;
  left: 12.5px;
}